<mat-form-field>
  <input class='input'matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="dataSource" matSort  layout="row" layout-wrap>


    <ng-container matSort matColumnDef="id" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> ID </th>
      <td mat-cell *matCellDef="let user" sticky> {{user.id}}</td>
    </ng-container>

    <ng-container matColumnDef="username" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> Username </th>
      <td mat-cell *matCellDef="let user" sticky> {{user.username}} 
      <div *ngIf="editUserId === user.id">
        <input class='input'[(ngModel)]="editedUser.username" placeholder="Username">
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="email" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> Email </th>
      <td mat-cell *matCellDef="let user" sticky> {{user.email}} 
      <div *ngIf="editUserId === user.id" sticky>
        <input [(ngModel)]="editedUser.email" placeholder="Email">
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="last_name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> Last name </th>
      <td mat-cell *matCellDef="let user" sticky> {{user.last_name}} 
      <div *ngIf="editUserId === user.id">
        <input class='input'[(ngModel)]="editedUser.last_name" placeholder="Last Name" >
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="first_name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
      <td mat-cell *matCellDef="let user"> {{user.first_name}} 
      <div *ngIf="editUserId === user.id">
        <input class='input' [(ngModel)]="editedUser.first_name" placeholder="First Name" > 
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="egd_id" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EGD ID </th>
      <td mat-cell *matCellDef="let user"> {{user.profile?.egd_id || 'N/A'}} 
      <div *ngIf="editUserId === user.id">
        <input class='input' [(ngModel)]="editedUser.egd_id" placeholder="Egd Id" >
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="birth_date" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
      <td mat-cell *matCellDef="let user"> {{user.profile?.birth_date || 'N/A'}} 
      <div *ngIf="editUserId === user.id">
        <input class='input' [(ngModel)]="editedUser.birth_date" placeholder="Birth Date" sticky> 
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="gender" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let user"> {{user.profile?.gender || 'N/A'}}
      <div *ngIf="editUserId === user.id">
        <input class='input' [(ngModel)]="editedUser.gender" placeholder="Gender">
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="is_superuser" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Superuser </th>
      <td mat-cell *matCellDef="let user"> {{user.is_superuser}} 
      <div *ngIf="editUserId === user.id">
        <input class='input'[(ngModel)]="editedUser.is_superuser" placeholder="Superuser">
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="is_staff"sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff </th>
      <td mat-cell *matCellDef="let user"> {{user.is_staff}} 
      <div *ngIf="editUserId === user.id">
        <input class='input'[(ngModel)]="editedUser.is_staff" placeholder="Staff">
      </div>
    </td>
    </ng-container>

    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="editUser(user)" *ngIf="editUserId !== user.id">
          <mat-icon>edit</mat-icon>
        </button>


        <div *ngIf="editUserId === user.id">
          <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
          <button mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[100, 200, 500]" showFirstLastButtons></mat-paginator>
</div>